appdirs==1.4.4
asgiref==3.2.10
certifi==2026.7.22
charset-normalizer==3.4.9
distlib==0.4.3
dj-database-url==0.5.0
Django==3.1.1
filelock==3.32.0
gunicorn==26.0.0
idna==3.18
mysql-connector==2.2.9
packaging==26.2
pillow==12.3.0
psycopg2-binary==2.9.12
python-dotenv==1.2.2
pytz==2026.2
requests==2.34.2
setuptools==83.0.0
six==1.17.0
sqlparse==0.5.5
urllib3==2.7.0
virtualenv==20.0.31
whitenoise==5.2.0
